<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sociable</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonticons-free-fonticons.netdna-ssl.com/kits/349cfdf6/publications/95876/woff2.css">
</head>
<body>
	<div class="menu">
		<div class="logo">
			<img src="../css/img/Logo.png" alt="">
		</div>	

		<div class="dropdown">
		  <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <div class="user" id="user">
				<img src="../css/img/user.png" alt="">
			</div>
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="#"><img src="../css/img/settings.png" alt="">Settings</a>
		    <a class="dropdown-item" href="/reg"><img src="../css/img/logout.png" alt="">Logout</a>
		  </div>
		</div>
		
	</div>

	<form class="form" name="ourForm" onsubmit="return false" id="form">
		<div class="input-group mb-3">
		  <input type="text" name="val" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2">
		  <div class="input-group-append">
		    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
		  </div>
		</div>
	</form>

	<div id="container">
	  <div class="bubbles">
	    <div class="bubble">
	      <div class="circle"></div>
	    </div>
	    <div class="bubble">
	      <div class="circle"></div>
	    </div>
	    <div class="bubble">
	      <div class="circle"></div>
	    </div>
	    <div class="bubble">
	      <div class="circle"></div>
	    </div>
	    <div class="bubble">
	      <div class="circle"></div>
	    </div>
	    <div class="bubble">
	      <div class="circle"></div>
	    </div>
	    <div class="bubble">
	      <div class="circle"></div>
	    </div>
	    <div class="bubble">
	      <div class="circle"></div>
	    </div>
	    <div class="bubble">
	      <div class="circle"></div>
	    </div>
	    <div class="bubble">
	      <div class="circle"></div>
	    </div>
	  </div>
	</div>

	<div id="list-component__wrapper">
		<list-component></list-component>
	</div>

	<chat-component></chat-component>

	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="../js/script.js" defer></script>
	<script src="../js/generate.js" defer></script>
	<script src="../js/send.js" defer></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
