* {
	margin: 0;
	padding: 0;
}

.preloader {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 1;
	background-color: #fff;
}

.form {
    width: 60%;
    margin: auto;
    padding: 50px 0px;
}

list-component {
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: -o-flex;
  	display: flex;
  	justify-content: center;
  	align-items: center;
	& ul {
		padding: 10px;
		width: 50%;
	}
	& ul li {
		margin-top: 10px;
		display: -webkit-flex !important;
		display: -moz-flex !important;
		display: -ms-flex !important;
		display: -o-flex !important;
		display: flex !important;
		justify-content: space-between !important;
		align-items: center;
		.form-control {
			width: 75%;
		}
	}
	& ul li button {
		margin-left: 10px;
		border: 0;
		padding: 5px;
		border-radius: 4px;
		color: white;
	} 
	& .buttonUpdate {
		background-color: #1de9b6;
	}
	& ul li button:last-child {
		background-color: #f44336;
	}
}


/* Preloader */

html, body{
   padding:0px;
   margin:0px;
   background:white;
   font-family: 'Ubuntu', sans-serif;
   color:#FFF;
}

.container{
   max-width:600px;
   min-height:200px;
   margin:100px auto;
   text-align:center;
}

.bubbles{
   margin-top:50px;
   position:relative;
}

.bubble{
   display:inline-block;
   padding:0px 5px;

   @for $i from 1 to 11 {
      &:nth-of-type(#{$i}) .circle{
         animation-delay: $i * 0.1s; 
      }
   }
}

.bubble .circle{
   width:25px; height:25px;
   border-radius:50%;
   background:red;
   animation: pulse 1.5s infinite;
   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

@keyframes pulse{
   0%{ transform: scale(1); }
   50%{ transform: scale(0.2); opacity:0.75; }
   100%{ transform: scale(1); }
}